
h1 {
    font-family: none;
    font-size: 20px;
    color: white;
}

body {
    background-color: blue;
}
p {
    font-family: fantasy;
    font-size: 30px;
    color: Black
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: Black;
}

li {
    float: left;
}

li a {
    display: block;
    color: Blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: Black;
}

.active {
    background-color: blue;
